@charset "UTF-8";

body {
    background-color: #E797F0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#principal {
    background-color: #533157;
    color: white;
    text-align: center;
}
h1 {
    color: #533157;
}

h2 {
    color: #876A8A;
}

.basico {
    color: #876A8A;
}

.intermediario {
    color: yellow;
}

.avancado {
    color: red;
}