@charset "UTF-8";

@media screen and (max-width: 565px) {
  header {
    flex-flow: column nowrap;
    justify-content: space-evenly;
   
  }
  header > h1 {
    flex: 0 0 40px;
  }
  header > nav {
    flex-flow: column nowrap;
    width: 90vw;
  }
  header > nav > a {
    position: relative;
    margin-left: 0px;
    width: 100%;
  }
}